<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @quote.name %>
</p>

<p>
  <strong>Product line:</strong>
  <%= @quote.product_line %>
</p>

<p>
  <strong>Number of appartement:</strong>
  <%= @quote.number_of_appartement %>
</p>

<p>
  <strong>Number of floors:</strong>
  <%= @quote.number_of_floor %>
</p>

<p>
  <strong>Number of basements:</strong>
  <%= @quote.number_of_basement %>
</p>

<p>
  <strong>Number of companies:</strong>
  <%= @quote.number_of_companies %>
</p>

<p>
  <strong>Number of parking spots:</strong>
  <%= @quote.number_of_parking_spots %>
</p>


<p>
  <strong>Number of elevator:</strong>
  <%= @quote.number_of_elevators %>
</p>

<p>
  <strong>Number of corporations:</strong>
  <%= @quote.number_of_corporations %>
</p>

<p>
  <strong>Maximum occupancy:</strong>
  <%= @quote.maximum_occupancy %>
</p>

<p>
  <strong>Business hours:</strong>
  <%= @quote.business_hours %>
</p>

<p>
  <strong>Unit price of each elevator:</strong>
  <%= @quote.unit_price_of_each_elevator %>
</p>

<p>
  <strong>Total price of elevators:</strong>
  <%= @quote.total_price_of_elevators %>
</p>

<p>
  <strong>Installation fees:</strong>
  <%= @quote.installation_fees %>
</p>

<p>
  <strong>Final price:</strong>
  <%= @quote.final_price %>
</p>

<p>
  <strong>Company Name:</strong>
  <%= @quote.company_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @quote.email %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
